doctype html
html(len="en")
	head
		meta(charset="utf-8")
		title Weather_landing_page
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="css/main.css")

		<!--[if lt IE 9]>
			script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
			script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		<![endif]-->
	body
		.loaderArea
			.loader
				hr
				hr
				hr
				hr
		a.btn-top
			span(class="fa fa-angle-up fa-2x" aria-hidden="true")
		include src/head.pug
		include src/features.pug
		include src/widget.pug
		include src/screenshots.pug
		include src/comments.pug
		include src/download.pug
		include src/footer.pug



		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")

		script(src="https://use.fontawesome.com/025bb97a66.js")

		script(type="text/javascript" src="js/main.js")