doctype html
html
	head
		meta(charset="utf-8")
		title Weather_landing_page
		link(rel="stylesheet" href="css/main.css")
	body
		include src/head.pug



		script(src="https://use.fontawesome.com/025bb97a66.js")

		script(type="text/javascript" src="js/main.js")