.footer
	display: grid
	grid-template-rows: 1fr 2px 1fr
	align-items: center
	height: 300px
	background-color: #353854

.footer>nav
	width: 150px
	
	ul
		a
			color: #b5b5c8

.footer-logo>.logo
	display: inline-block
	color: #7693C8

.footer-logo>.logo:first-of-type
	width: 50px
	color: #FC6A42

hr
	width: 90%
	border: .5px solid #434769
	margin: 0px auto

.footer-bottom-text
	margin-left: 57%
	color: #565b87