@font-face 
	font-family: "myriad_pro"
	src: url("../fonts/myriad_pro.otf") format("truetype")

html
	font-family: "myriad_pro", Arial, Roboto

html, body, li, ul, menu, h1, h2, h3, h4, h5, h6, label, input, hr, p
	margin: 0
	padding: 0

.container
	padding:  
		left: 15%
		right: 15%


// --- IMPORT ---

// Mixin
@import mix

// head.sass
@import sass/head 
// features.sass
@import sass/features
// widget.sass
@import sass/widget
// screenshots.sass
@import sass/screenshots
// comments.sass
@import sass/comments