@font-face 
	font-family: "myriad_pro"
	src: url("../fonts/myriad_pro.otf") format("truetype")

html
	font-family: "myriad_pro", Arial, Roboto

html, body, li, ul, menu, h1, h2, h3, h4, h5, h6, label, input, hr, p
	margin: 0
	padding: 0

.container
	padding:  
		left: 15%
		right: 15%

.btn-top
	z-index: 99
	display: none
	position: fixed
	bottom: 0
	right: 100px

	width: 40px
	height: 30px
	background-color: #434769
	
	color: #fff
	text-align: center

// --- IMPORT ---

// Mixin
@import mix

// head.sass
@import sass/head 
// features.sass
@import sass/features
// widget.sass
@import sass/widget
// screenshots.sass
@import sass/screenshots
// comments.sass
@import sass/comments
// download.sass
@import sass/download
// footer.sass
@import sass/footer