@font-face 
	font-family: "myriad_pro"
	src: url("../fonts/myriad_pro.otf") format("truetype")

html
	font-family: "myriad_pro"

html, body, li, ul, menu, h1, h2, h3, h4, h5, h6, label, input, hr, p
	margin: 0
	padding: 0

.container
	padding:  
		left: 10%
		right: 10%


// --- IMPORT ---

@import 'mix' // Mixin

@import 'sass/head' // head.sass