section.comments
	.container
		header.section-header
			h2.section-title what people are saying
			p.section-text Reviews
		article.comments-article
			.comments-block
				img(src="img/comment-start.png" class="comments-block--img")
				.comments-card
					.comments-card--text what art offers is space - a certain breathing room for the spirit
					.comments-card--author john updike
				img(src="img/comment-end.png" class="comments-block--img")
			.comments-block
				img(src="img/comment-start.png" class="comments-block--img")
				.comments-card
					.comments-card--text what art offers is space - a certain breathing room for the spirit
					.comments-card--author john updike
				img(src="img/comment-end.png" class="comments-block--img")
			.comments-block
				img(src="img/comment-start.png" class="comments-block--img")
				.comments-card
					.comments-card--text what art offers is space - a certain breathing room for the spirit
					.comments-card--author john updike
				img(src="img/comment-end.png" class="comments-block--img")
			.comments-block
				img(src="img/comment-start.png" class="comments-block--img")
				.comments-card
					.comments-card--text what art offers is space - a certain breathing room for the spirit
					.comments-card--author john updike
				img(src="img/comment-end.png" class="comments-block--img")
