section(id="download" class="download" name="download")
	.container
		article.download-article
			.download-block
				h2.download-block--title how Download the app?
				p.download-block--text just download the app from the store. Simple, nice and user-friendly application of theweather. Only relevant and useful information.
				.download-btns
					a(href="#")
						img(src="img/appstore.png", alt="appstore" class="download-btns--img")
					a(href="#")
						img(src="img/googleplay.png", alt="googleplay" class="download-btns--img")
			.download-block
				img(src="img/footer-img-blure1.png", alt="footer-img-blure1" class="download-block--img")
				img(src="img/footer-img.png", alt="footer-img" class="download-block--img")
				img(src="img/footer-img-blure2.png", alt="footer-img-blure2" class="download-block--img")