section(id="feature" class="features" name="feature")
	.container
		header.section-header
			h2.section-title perfect features
			p.section-text only necessary
		article.features-article
			.features-content
				.feature-card
					img(src="img/icon1.png" class="feature-card-img")
					.feature-card-content
						h3.feature-card-title usability 
						p.feature-card-text sometimes the simplest things are the hardest to find. So we created a new line for everyday life
				.feature-card
					img(src="img/icon2.png" class="feature-card-img")
					.feature-card-content
						h3.feature-card-title parallax effect
						p.feature-card-text sometimes the simplest things are the hardest to find. So we created a new line for everyday life
				.feature-card
					img(src="img/icon3.png" class="feature-card-img")
					.feature-card-content
						h3.feature-card-title unlimites colors
						p.feature-card-text sometimes the simplest things are the hardest to find. So we created a new line for everyday life

