footer.footer
	.container
		nav.nav
			.footer-logo
				h2.logo fun
				h2.logo weather.
			menu.menu
				ul
					a(href="#")
						li(type="none" class="menu_li") home
					a(href="#")
						li(type="none" class="menu_li") feature
					a(href="#")
						li(type="none" class="menu_li") reviews
					a(href="#")
						li(type="none" class="menu_li") download
			.social-block
				ul
					a(href="")
						li(type="none" class="social-block_li")
							span(class="fa fa-facebook fa-lg" aria-hidden="true")
					a(href="")
						li(type="none" class="social-block_li")
							span(class="fa fa-twitter fa-lg" aria-hidden="true")
					a(href="")
						li(type="none" class="social-block_li")
							span(class="fa fa-vk fa-lg" aria-hidden="true")
	hr
	.container
		.footer-bottom-text © 2016 All rights reserved. Weather App Theme by Gravpix