footer.footer
	.container
		nav.nav
			.footer-logo
				h2.logo.f-logo fun
				h2.logo.f-logo weather.
			menu.menu
				ul
					a(href="#head" data-target="anchor")
						li(type="none" class="menu_li") home
					a(href="#feature" data-target="anchor")
						li(type="none" class="menu_li") feature
					a(href="#screenshots" data-target="anchor")
						li(type="none" class="menu_li") reviews
					a(href="#download" data-target="anchor")
						li(type="none" class="menu_li") download
			.social-block
				ul
					a(href="")
						li(type="none" class="social-block_li")
							span(class="fab fa-facebook-f fa-lg" aria-hidden="true")
					a(href="")
						li(type="none" class="social-block_li")
							span(class="fab fa-twitter fa-lg" aria-hidden="true")
					a(href="")
						li(type="none" class="social-block_li")
							span(class="fab fa-vk fa-lg" aria-hidden="true")
	.container
		hr
	.container
		.footer-bottom-text 
			p © 2016 All rights reserved. Weather App Theme by Gravpix