section(id="head" class="head" name="head")
	.container.cont-mobile
		nav.nav.menu-mobile
			h2.logo.logo-mobile fun weather.
			menu.menu
				ul
					a(href="#head" data-target="anchor")
						li(type="none" class="menu_li") home
					a(href="#feature" data-target="anchor")
						li(type="none" class="menu_li") feature
					a(href="#screenshots" data-target="anchor")
						li(type="none" class="menu_li") reviews
					a(href="#download" data-target="anchor")
						li(type="none" class="menu_li") download
			.social-block
				ul
					a(href="")
						li(type="none" class="social-block_li")
							span(class="fab fa-facebook-f fa-lg" aria-hidden="true")
					a(href="")
						li(type="none" class="social-block_li")
							span(class="fab fa-twitter fa-lg" aria-hidden="true")
					a(href="")
						li(type="none" class="social-block_li")
							span(class="fab fa-vk fa-lg" aria-hidden="true")
			.burger
				span(class="fas fa-bars fa-lg" id="burger" aria-hidden="true")
				span(class="fas fa-times fa-lg" id="closed-burger" aria-hidden="true")
	.container.cont-mobile
		nav.nav-mobile
			.slide-menu
				menu.slide-menu--menu
					ul
						a(href="#head" data-target="anchor")
							li(type="none" class="menu_li") home
						a(href="#feature" data-target="anchor")
							li(type="none" class="menu_li") feature
						a(href="#screenshots" data-target="anchor")
							li(type="none" class="menu_li") reviews
						a(href="#download" data-target="anchor")
							li(type="none" class="menu_li") download
				.slide-menu--social-block
					ul
						a(href="")
							li(type="none" class="social-block_li")
								span(class="fab fa-facebook-f fa-lg" aria-hidden="true")
						a(href="")
							li(type="none" class="social-block_li")
								span(class="fab fa-twitter fa-lg" aria-hidden="true")
						a(href="")
							li(type="none" class="social-block_li")
								span(class="fab fa-vk fa-lg" aria-hidden="true")
	.container.cont-mobile-m
		article.article
			.left-card
				.card
					h3.card-title get the most fun weather app
					p.card-text simple, nice and user-friendly application of the weather. Only useful information
				.btn-group
					a(href="#" class="btn") download
					a(href="#" class="btn") feature
			a(href="#feature" data-target="anchor" class="slide-down")
				span(class="fas fa-angle-down" aria-hidden="true")
			.right-card
				.bbl-card.bbl-card-first sunny
				.bbl-card.bbl-card-second 9˚
				.bbl-card.bbl-card-third london
				.bbl-card.bbl-card-fourth rio
				img(src="img/head-phone.png" class='head-phone')