section.head
	.container
		nav.nav
			h2.logo fun weather.
			menu.menu
				ul
					li(type="none" class="menu_li") home
					li(type="none" class="menu_li") feature
					li(type="none" class="menu_li") reviews
					li(type="none" class="menu_li") download
			.social-block
				ul
					li(type="none" class="social-block_li")
						span(class="fa fa-facebook fa-lg" aria-hidden="true")
					li(type="none" class="social-block_li")
						span(class="fa fa-twitter fa-lg" aria-hidden="true")
					li(type="none" class="social-block_li")
						span(class="fa fa-vk fa-lg" aria-hidden="true")
		article.article
			.left-card
				.card
					h3.card-title get the most fun weather app
					p.card-text simple, nice and user-friendly application of the weather. Only useful information
				.btn-group
					.btn 
						p.btn-text download
					.btn
						p.btn-text feature
			.right-card
				img
				.bbl-card 9
				.bbl-card sunny
				.bbl-card london
				.bbl-card rio
		.slide-down
			span