section.screenshots
	.container
		header.section-header
			h2.section-title screenshots
			p.section-text the brightest images
		article.screenshots-article
			.card-block
				.card-block-img
					.bbl-card 15˚
					.bbl-card cloudy
					img
					img
				.card-block-content
					img
					.card-block-text
						h2.card-block-title when the clouds
						p.card-block-text variable information on the air humidity, the feeling of the weather, and the ability to share this with your friends
					.card-block-bbl-group
						.bbl-card
						.bbl-card
						.bbl-card
			.card-block
				.card-block-img
					.bbl-card 35˚
					.bbl-card sunny
					img
					img
				.card-block-content
					img
					.card-block-text
						h2.card-block-title
						p.card-block-text
			.card-block
				.card-block-img
					.bbl-card 9˚
					.bbl-card rainy
					img
					img
				.card-block-content
					img
					.card-block-text
						h2.card-block-title
						p.card-block-text