section.screenshots
	.container
		header.section-header
			h2.section-title screenshots
			p.section-text the brightest images
		article.screenshots-article
			.screenshots-block
				.screenshots-img
					.screenshots-img--bbl 15˚
					.screenshots-img--bbl cloudy
					img(src="img/screenshot1.png")
					img(src="img/screenshot-text1.png")
				.screenshots-content
					img(src="img/screenshot-icon1.png")
					.screenshots-card
						h2.screenshots-card--title when the clouds
						p.screenshots-card--text variable information on the air humidity, the feeling of the weather, and the ability to share this with your friends
					.screenshots-items
						.screenshots-items--bbl 95%
						.screenshots-items--bbl 9˚
						.screenshots-items--bbl rainy
			.screenshots-block
				.screenshots-content.d
					img(src="img/screenshot-icon2.png" id="screenshot-icon2")
					.screenshots-card
						h2.screenshots-card--title when the sun
						p.screenshots-card--text sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest
					.screenshots-items
						.screenshots-items--bbl 95%
						.screenshots-items--bbl 9˚
						.screenshots-items--bbl rainy
				.screenshots-img
					.screenshots-img--bbl.bbl21 35˚
					.screenshots-img--bbl.bbl22 Sunny
					img(src="img/screenshot2.png")
					img(src="img/screenshot-text2.png" id="screenshot-text2")
			.screenshots-block
				.screenshots-img
					.screenshots-img--bbl.bbl31 9˚
					.screenshots-img--bbl.bbl32 rainy
					img(src="img/screenshot3.png")
					img(src="img/screenshot-text3.png")
				.screenshots-content
					img(src="img/screenshot-icon3.png")
					.screenshots-card
						h2.screenshots-card--title when the rain
						p.screenshots-card--text sometimes the simplest things are the hardest to find. So we created a new line for everyday life. Sometimes the simplest
					.screenshots-items
						.screenshots-items--bbl 95%
						.screenshots-items--bbl 9˚
						.screenshots-items--bbl rainy