section.widget
	.container
		header.section-header
			h2.section-title simple widgets
			p.section-text drag and Drop
		article.widget-article
				.prev.n
					span(class="fa fa-angle-left fa-3x" aria-hidden="true")
				.widget-slider
					img(src="img/slider-img1.png" class="slider-img img-prev")
					img(src="img/slider-img2.png" class="slider-img active")
					img(src="img/slider-img3.png" class="slider-img img-next")
				.next.n
					span(class="fa fa-angle-right fa-3x" aria-hidden="true")